@import url("https://fonts.googleapis.com/css?family=Archivo+Black");
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,300italic,400italic,600,700,600italic,700italic);
body,
html {
    background-color: rgba(27, 74, 194, 0.7);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
}

.register-form {
    font-size: 16px;
    left: 50%;
    top: 50%;
    position: absolute;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

label {
    color: white;
}

.regbutton {
    height: 50px;
    width: 200px;
    background-color: tomato;
    border-radius: 0px;
    font-size: 18px;
    color: white;
    border: none !important;
    margin-bottom: 5px;
}

.regbutton:hover {
    color: white;
    background-color: #aa422f;
}

.regbutton:active {
    color: white;
    background-color: #aa422f;
}

.logbutton {
    height: 50px;
    width: 200px;
    background-color: yellowgreen;
    border-radius: 0px;
    font-size: 18px;
    color: white;
    border: none !important;
    margin-bottom: 5px;
}

.logbutton:hover {
    color: white;
    background-color: darkolivegreen;
}

.logbutton:active {
    color: white;
    background-color: darkolivegreen;
}

.googlebutton {
    height: 50px;
    width: 400px;
    background-color: #13B1F0;
    border-radius: 0px;
    font-size: 18px;
    color: white;
    border: none !important;
    margin-bottom: 5px;
}

.register-form label {
    color: aliceblue;
}

.register-form input {
    margin-bottom: 5px;
    width: 430px;
    height: 40px;
    border-radius: 0px;
}

.navbar-color-r {
    background-color: red;
}

.navbar-color-r a {
    color: white;
}

.c1 .active {
    color: #4261b4;
}

.ul2 li a {
    border-bottom: 3px solid red;
}

.ul2 li a:hover,
.ul2 li a:active,
.ul2 li a:focus {
    background: red;
    color: #4261b4;
}

.icon-bar {
    background-color: white;
}

.btn {
    border: 2px solid white;
}

#logout-wrap {
    margin-left: 600px;
    padding-bottom: 30px;
}

body {
    font: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #cfcfcf;
    background: -webkit-linear-gradient(45deg, rgba(22, 167, 175, 0.6) 5%, rgba(23, 27, 158, 0.7) 55%, rgba(68, 9, 82, 0.5) 100%) no-repeat;
    background: linear-gradient(45deg, rgba(22, 167, 175, 0.6) 5%, rgba(23, 27, 158, 0.7) 55%, rgba(68, 9, 82, 0.5) 100%) no-repeat;
    background-size: 200%;
    color: black;
}

html,
body {
    height: 100%;
}

.cards-wrapper {
    position: relative;
    height: 100%;
    list-style: none;
    padding: 0 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.card-wrapper {
    display: block;
    float: left;
    position: relative;
    margin: 15px;
    width: 40%;
    height: 0;
    padding: 0 0 50%;
    -webkit-perspective: 700px;
    perspective: 700px;
}

.card-object {
    color: #FFF;
    display: block;
    float: left;
    position: absolute;
    top: 6%;
    left: 6%;
    width: 88%;
    height: 88%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.card-object.card-1 {
    background: #222 url(https://media.istockphoto.com/photos/ambulance-car-picture-id462435841?k=6&m=462435841&s=612x612&w=0&h=hv_9y25mpy8cnEMgUqcyYJZFgFFctjnLyRBOt8gbF5c=) 90% 30% no-repeat;
    background-size: 190%;
}

.card-object.card-3 {
    background: #222 url(https://thumbs.dreamstime.com/b/patient-chart-486082.jpg) 80% 100% no-repeat;
    background-size: 155%;
}

.front::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.1) 100%) no-repeat;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.1) 100%) no-repeat;
    opacity: .8;
    z-index: 20;
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
}

.front::after {
    position: absolute;
    top: 7%;
    right: 7%;
    bottom: 7%;
    left: 7%;
    border: 1px solid rgba(255, 255, 255, 0.35);
    z-index: 100;
    content: "";
}

.front .title-wrapper {
    position: absolute;
    bottom: 3%;
    left: 25%;
    right: 25%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    z-index: 100;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform .28s ease;
    transition: -webkit-transform .28s ease;
    transition: transform .28s ease;
    transition: transform .28s ease, -webkit-transform .28s ease;
}

.front .title-wrapper .title {
    position: relative;
    font-family: 'Archivo Black', sans-serif;
    width: 100%;
    text-transform: uppercase;
    font-size: 1.4em;
    line-height: 1;
    opacity: .8;
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
    color: red;
    text-shadow: 4px 4px black;
}

.front .title-wrapper .title::after {
    display: block;
    margin: 7% auto 8% auto;
    width: 100%;
    height: 1px;
    content: "";
    background-color: #fff;
    opacity: .5;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform .15s;
    transition: -webkit-transform .15s;
    transition: transform .15s;
    transition: transform .15s, -webkit-transform .15s;
}

.front .title-wrapper .subtitle {
    font-size: .9vw;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0;
    -webkit-transition: opacity .15s;
    transition: opacity .15s;
}

.front:hover::before {
    opacity: .9;
}

.front:hover .title-wrapper {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.front:hover .title-wrapper .title {
    opacity: 1;
}

.front:hover .title-wrapper .title::after {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: .5;
    -webkit-transition-delay: .15s;
    transition-delay: .15s;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
}

.front:hover .title-wrapper {
    opacity: .7;
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
}

.img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 38%;
    z-index: 10;
}

.img-wrapper::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(14, 6, 70, 0.6);
    opacity: .7;
}

.wrimagecard {
    margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: center;
    position: relative;
    background: #fff;
    box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
    border-radius: 4px;
    transition: all 0.3s ease;
}

.wrimagecard .fa {
    position: relative;
    font-size: 70px;
}

.wrimagecard-topimage_header {
    padding: 30px;
}

a.wrimagecard:hover,
.wrimagecard-topimage:hover {
    box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
}

.wrimagecard-topimage a {
    width: 100%;
    height: 100%;
    display: block;
}

.wrimagecard-topimage_title {
    padding: 20px 24px;
    height: 80px;
    padding-bottom: 0.75rem;
    position: relative;
}

.wrimagecard-topimage a {
    border-bottom: none;
    text-decoration: none;
    color: #525c65;
    transition: color 0.3s ease;
}

.menu-title {
    font-size: 1em;
}

body {
    font-family: "Josefin Sans", sans-serif;
    line-height: 1;
    padding: 20px;
    height: 100%;
    background: -webkit-linear-gradient(45deg, rgba(22, 167, 175, 0.6) 5%, rgba(23, 27, 158, 0.7) 55%, rgba(68, 9, 82, 0.5) 100%) no-repeat;
    background: linear-gradient(45deg, rgba(22, 167, 175, 0.6) 5%, rgba(23, 27, 158, 0.7) 55%, rgba(68, 9, 82, 0.5) 100%) no-repeat;
    background-size: 200%;
    color: white;
}

.demo-title {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 60px;
}

.pricing-table {
    width: 100%;
}

.pricing-table .pricing-option {
    width: 45%;
    background: white;
    float: left;
    padding: 5%;
    text-align: center;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.pricing-table .pricing-option:nth-child(even) {
    margin: 0 2%;
}

.pricing-table .pricing-option:hover {
    cursor: pointer;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
}

.pricing-table .pricing-option:hover i,
.pricing-table .pricing-option:hover h1,
.pricing-table .pricing-option:hover span,
.pricing-table .pricing-option:hover b {
    color: blue;
}

.pricing-table .pricing-option:hover .front {
    opacity: 0;
    visibility: hidden;
}

.pricing-table .pricing-option:hover .back {
    opacity: 1 !important;
    visibility: visible !important;
}

.pricing-table .pricing-option:hover .back a.button {
    -webkit-transform: translateY(0px) !important;
    transform: translateY(0px) !important;
}

.pricing-table .pricing-option hr {
    border: none;
    border-bottom: 1px solid #F0F0F0;
}

.pricing-table .pricing-option i {
    font-size: 3rem;
    color: #D8D8D8;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.pricing-table .pricing-option h1 {
    margin: 10px 0;
    color: black;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.pricing-table .pricing-option p {
    color: black;
    font-weight: bold;
    padding: 0 15px;
    line-height: 1.3;
}

.pricing-table .pricing-option .price {
    position: relative;
}

.pricing-table .pricing-option .price .front span.price {
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 20px;
    display: block;
    font-weight: 700;
    position: relative;
}

.pricing-table .pricing-option .price .front span.price b {
    position: absolute;
    font-size: 1rem;
    margin-left: 2px;
    font-weight: 600;
}

.pricing-table .pricing-option .price .back {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.pricing-table .pricing-option .price .back a.button {
    background: #F85E6A;
    padding: 15px 20px;
    display: inline-block;
    text-decoration: none;
    color: white;
    position: absolute;
    font-size: 13px;
    top: -5px;
    left: 0;
    right: 0;
    width: 150px;
    margin: auto;
    text-transform: uppercase;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.pricing-table .pricing-option .price .back a.button:hover {
    background: #f62d3d;
}

@media screen and (max-width: 600px) {
    .pricing-table .pricing-option {
        padding: 5%;
        width: 90%;
    }
    .pricing-table .pricing-option:nth-child(even) {
        margin: 30px 0 !important;
    }
}

footer {
    background-color: #424558;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35px;
    text-align: center;
    color: #CCC;
    font-size: .8em;
}

footer p {
    padding: 10.5px;
    margin: 0px;
    line-height: 100%;
}

.selectPatient {
    color: black;
    font-size: 1.5em;
}

.form-control {
    margin: 20px;
}

#addPatient-title {
    color: white;
}

.panel-body .form-horizontal {
    box-shadow: 10px 5px 5px black;
}

#selectPatient-title {
    color: white;
}

#medHistory {
    color: white;
}

.clock {
    border-radius: 50%;
    background: red url(/assets/images/logo.png) no-repeat center;
    background-size: 100%;
    height: 3em;
    padding-bottom: 1%;
    position: relative;
    width: 3em;
    float: right;
}

.clock.simple:after {
    background: #000;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 5%;
    height: 5%;
    z-index: 10;
}

.seconds-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.seconds {
    background: red;
    box-shadow: 5px 2px 2px black;
    height: 59%;
    left: 45%;
    position: absolute;
    top: 14%;
    transform-origin: 50% 80%;
    width: 8px;
    z-index: 8;
    border: 2px solid black;
    border-radius: 40%;
}

@keyframes rotate {
    100% {
        transform: rotateZ(360deg);
    }
}

.seconds-container {
    animation: rotate 60s infinite linear;
}

.seconds-container {
    animation: rotate 60s infinite steps(60);
}


/*# sourceMappingURL=main.css.map */