<nav class="navbar navbar-color-r">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="btn navbar-toggle" data-toggle="collapse" data-target="#my">
            </button>
            <article class="clock">
                <div class="seconds-container">
                    <div class="seconds"></div>
                </div>
            </article>
            <a class="navbar-brand" href="#">BLS jUMP-KIT</a>
        </div>

        <div class="collapse navbar-collapse" id="my">

            <ul class="nav navbar-nav navbar-right ul2">
                <li><a href="#!/profile">EMT Profile</a></li>
                <li><a href="#!/menu">Assessment Menu</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- <div class="container-fluid">
    <div class="row">
        <article class="clock">
            <div class="seconds-container">
                <div class="seconds"></div>
            </div>
        </article>
    </div>
</div> -->