<!-- LOGOUT -->
<div id="logout-wrap" class="text-center">
    <br>
    <button class="btn btn-primary btn-sm" ng-click="logout()">Logout</button>
</div>

<!-- PROFILE PAGE CARD VIEW -->
<div class="cards-wrapper">
    <div class="card-wrapper">
        <div class="card-1 card-object card-object-hf">
            <div id="wrap" class="text-center">
                <a ng-href="#!/add-patient" class="front">
                    <div class="title-wrapper">
                        <div class="title">Add Patient</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="card-wrapper">
        <div class="card-3 card-object card-object-hf">
            <a ng-href="#!/select-patient" class="front">
                <div class="title-wrapper">
                    <div class="title">Select Patient</div>
                </div>
            </a>
        </div>
    </div>
</div>