<!-- <div data-role="page">
    <div data-role="content">
        <div> -->
<!-- pulse -->
<!-- <div class="row">
                <label>Symptoms:</label>
                <select type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-model="history.symptoms"><option ng-repeat="x in symptoms">{{x}}</option></select> -->
<!-- RR -->
<!-- <label>Allergies:</label>
<select type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-model="history.allergies"><option ng-repeat="x in allergies">{{x}}</option></select> -->
<!-- Systolic -->
<!-- <label>Medications:</label>
<select type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-model="history.medications"><option ng-repeat="x in medications">{{x}}</option></select>
</div> -->

<!-- diastolic -->
<!-- <div class="row">
    <label>Past Illnesses:</label>
    <select type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-model="history.pastIllness"><option width="200px" ng-repeat="x in pastIllness">{{x}}</option></select> -->
<!-- skin tone -->
<!-- <label>Last Oral Intake:</label>
    <select type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-model="history.lastIntake"><option ng-repeat="x in lastIntake">{{x}}</option></select> -->
<!-- skin temp -->
<!-- <label>Events:</label>
    <select type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-model="history.eventsTo"><option ng-repeat="x in eventsTo">{{x}}</option></select> -->
<!-- skin tone -->
<!-- <label>Events:</label>
    <select type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-model="history.eventsTo"><option ng-repeat="x in eventsTo">{{x}}</option></select>
</div>
</div>
<div class="row"> -->
<!-- <div class="col-sm-1"></div>
    <label>Glucose:</label>
    <input ng-model="vitals.notes" class="form-control" type="text" placeholder="Additional Notes">
</div> -->
<!-- Additional Notes Input -->
<!-- <textarea ng-model="vitals.notes" rows="5" name="historyNotes" class="form-control" type="text" placeholder="Additional Notes"></textarea> -->
<!-- Submit Button -->
<!-- <button ng-click="submitVitals()" type="button" class="btn btn-danger preview-add-button">
                <span class="glyphicon glyphicon-plus"></span> Add Patient Vitals
            </button>

    </div>
</div> -->